<section class="share-container">
        <div class="share-content">
          <p >Got a Funny Thing Only You Know?    Share With Us</p>
        </div>
        <div class="share-button">
          <button type="button" id="create-item-button"><i class="fa fa-car"></i></button>
        </div>
    </section> 