<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Life of Corvallis</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="author" content="Shuai Guo">
  <meta name="description" content="CS290 final project.">
 
  <link href="http://fonts.googleapis.com/css?family=Kotta+One|Cantarell:400,700" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="presentational-only/presentational-only.css">


  <link rel="stylesheet" href="/home.css">
  

  <script src="presentational-only/presentational-only.js"></script>
</head>
<body>
  <nav class="navbar" id="top">
    <div class="inner">
      <a href="https://en.wikipedia.org/wiki/Corvallis,_Oregon">About Corvallis</a>
    </div>
  </nav>
  <header class="container">
    <section class="content">
      <h1>Life of Corvallis</h1>
      <p class="sub-title"><strong>Welcome to Corvallis</strong> <br /> to see things we can do here</p>
      <p><a class="button" id="Entertainment" href="/entertainment">Entertainment</a></p>
      <p><a class="button" id="Sightseeing" href="/sightseeing">Sightseeing</a></p>
      

    </section>
  </header>
</body>
</html>
